.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-font{
  font-size: 14px;
  
}
.nav-font:hover {
  font-weight: bold;
}

.box-details {
  width: 630px;
  height: 306px; /* Assuming this is the hug content height */
  top: 354px;
  left: 80px;
  padding: 24px 40px 32px 40px;
  gap: 20px; /* Gap is for flexbox layout, make sure to use it within a flex container */
  opacity: 0; /* Initial opacity is 0 */
  position: absolute; /* Positioning */
}